body{
	background-color: #E6E6E6;
}

.main{
	margin: 30px;
	background-color: white;
	border-radius: 15px;
}
.btn-publish{
	float:right ;
	margin-bottom: 15px;

}

.media-object-img{
	width: 45px;
}

.text-desc{
	color: #E6E6E6;
	font-size: 13px;
}
.profile-div{
	margin-top: 15px;
}
