<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Giao哥社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/community.css">
</head>
<body>
<div th:insert="~{navigation.html :: nav}"></div>


<div class="container-fluid main">
    <div class="row ">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class=" glyphicon glyphicon glyphicon-pencil"
                      aria-hidden="true"></span> 提问</h2>
            <hr/>

            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题</label>
                    <input type="text" name="title" class="form-control" id="title" placeholder="问题标题"
                           th:value="${title}">
                </div>
                <div class="form-group">
                    <label for="title">问题详情 </label>
                    <textarea name="description" id="description" class="form-control" rows="10" cols="30"
                              th:text="${description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="title">添加标签 </label>
                    <input type="text" name="tag" id="tag" class="form-control" placeholder="输入标签以 ， 分隔"
                           th:value="${tag}">
                </div>
                <!--错误信息 -->
                <span class="alert alert-dange" th:text="${erro}" th:if="${erro!=null}"></span>
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>

        </div>
        <div class="col-lg-3  col-md-12 col-sm-12 col-xs-12">
            <h3>阿giao百科</h3>
            <ul>
                <li>中文名黑猫警长giao哥</li>
                <li>国籍中国</li>
                <li>出生地河南</li>
                <li>职业主播</li>
            </ul>
        </div>
    </div>
</div>


</body>
</html>
