<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/community.css">


</head>
<body>

<div th:insert="~{navigation.html :: nav}"></div>

<div class="container-fluid main">
    <div class="row ">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h4><span th:text="${question.title}"></span></h4>
            <span class="text-desc">作者 ·</span>
            <span class="text-desc" th:text="${question.user.name}"></span>
            <span class="text-desc">发布时间 ·</span>
            <span class="text-desc" th:text="${#dates.format(question.user.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
            <span class="text-desc">阅读数</span>
            <span class="text-desc" th:text="${question.getViewCount()}"></span>
            <hr/>
            <h3 th:text="${question.commentCount}"></h3>
            <hr/>
            <a><span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
        </div>
        <div class="col-lg-3  col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img th:src="${question.user.avatarUrl}" class="img-circle question-object-img">
            </div>

        </div>
    </div>
</div>


</body>
</html>
